/*Write your custom css in this file.*/

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    src: local('Barlow'), local('Barlow'), url('fonts/barlow/BarlowCondensed-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'), url('fonts/barlow/BarlowCondensed-ExtraBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url('fonts/barlow/BarlowCondensed-Bold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 100;
    src: local('Barlow Thin'), local('Barlow-Thin'), url('fonts/barlow/BarlowCondensed-Thin.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    src: local('Barlow Light'), local('Barlow-Light'), url('fonts/barlow/BarlowCondensed-Light.ttf') format('ttf');
  }


#dashboards-color-tags a:nth-child(2) .color-tag:not(.border-circle){
  animation: zoom-in-out 2s ease-out infinite;
}

@keyframes zoom-in-out {
  0% {
      transform: scale(1, 1);
  }
  50% {
      transform: scale(1.8, 1.8);
  }
  100% {
      transform: scale(1, 1);
  }
}

.sidebar-brand {
  background-color: #1d2632!important;
}

#user-dropdown .user-name{
  display: none;
}

.sidebar-scroll {
  background: #1d2632;
}

.sidebar-menu {
  background: #1d2632;
}

.sidebar-menu li a {
  color: #81858D;
  font-size: 14.5px;
  border-radius: 10px;
  padding: 1rem 1.1rem;
}

.sidebar-menu li ul li a,
.sidebar-menu li ul li a:hover,
.sidebar-menu li ul li a:focus,
.sidebar-menu li ul li a:active {
  color: #81858D;
}

.sidebar-menu li a .icon {
  height: 18px;
  width: 18px;
}

.sidebar-menu li a:active,
.sidebar-menu li a:hover,
.sidebar-menu li a:focus,
.sidebar-menu li.active>a {
  background: #1d2632;
  color: #1e73be !important;
}

.sidebar-menu .menu-text {
  margin-left: 12px;
}

#user-dropdown .user-name {
  display: none;
}

.widget-container .card {
  border-radius: 8px;
}

.widget-container .card .card-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.badge.bg-primary {
  background-color: #0EBC5B !important;
}